# Filter for debug logs. All Safenet related logs are under the `safenet:`
# prefix, but additional filtering can be specified in case more specific logs
# are desired.
DEBUG=safenet,safenet:*

# The SQLite database file to use for storing indexed events. This allows data
# that is queried from the chain to be cached between runs.
DATABASE_FILE=:memory:

# The RPC URL to use for Safenet staking.
STAKING_RPC_URL=https://mainnet.gateway.tenderly.co
# The number of blocks to fetch logs for at a time on the staking chain.
STAKING_BLOCK_PAGE_SIZE=100
# The address of the staking contract.
STAKING_ADDRESS=0x115E78f160e1E3eF163B05C84562Fa16fA338509
# The block where the staking contract was deployed.
STAKING_START_BLOCK=24585750
# The address of the Chainanalysis sanctions list oracle.
SANCTIONS_LIST_ADDRESS=0x40C57923924B5c5c5455c48D93317139ADDaC8fb
# The starting block of the Chainanalysis sanctions list.
SANCTIONS_LIST_START_BLOCK=14356508

# The RPC URL to use for Safenet consensus.
CONSENSUS_RPC_URL=https://gnosis.gateway.tenderly.co
# The number of blocks to fetch logs for at a time on the staking chain.
CONSENSUS_BLOCK_PAGE_SIZE=25
# The address of the consensus contract.
CONSENSUS_ADDRESS=0x223624cBF099e5a8f8cD5aF22aFa424a1d1acEE9
# The block where consensus begun; in the beta this was the block where the
# consensus contract was deployed on. This allows us to disregard blocks before
# this and speed up event indexing.
CONSENSUS_START_BLOCK=45210396
