# Filter for debug logs. All Safenet related logs are under the `safenet:`
# prefix, but additional filtering can be specified in case more specific logs
# are desired.
DEBUG="safenet:*"

# The SQLite database file to use for storing indexed events. This allows data
# that is queried from the chain to be cached between runs.
DATABASE_FILE=":memory:"

# The number of blocks to fetch logs for at a time.
BLOCK_PAGE_SIZE=50

# TODO: Update this with the standard contact addresses and corresponding public
# RPC URLs post launch.

# The RPC URL to use for Safenet staking.
STAKING_RPC_URL=https://sepolia.gateway.tenderly.co
# The address of the staking contract.
STAKING_ADDRESS=0x6386F7F53878eA973f2272a7e88D93B6A2b32CA2
# The block where the staking contract was deployed.
STAKING_START_BLOCK=10281173

# The RPC URL to use for Safenet consensus.
CONSENSUS_RPC_URL=https://sepolia.gateway.tenderly.co
# The address of the consensus contract.
CONSENSUS_ADDRESS=0x49db717adec0d22235a73c3a9c2ea57ab0bc2353
# The block where consensus begun; in the beta this was the block where the
# consensus contract was deployed on. This allows us to disregard blocks before
# this and speed up event indexing.
CONSENSUS_START_BLOCK=10245903
